:root {
    /* Colours */
    --color-text: #093704;
    --color-primary: #3db16a;
    --color-secondary: #116415;
    --color-dark: #0b4718;
    --color-bg: #bee0d1;
  
    /* Fonts */
    --font-roboto: "Roboto";
  }